* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: #02274a;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
	display: flex;
	justify-content: center;
	font-family:'Roboto Mono', monospace;
	text-align: center;
	width: 100%;
	padding: 2rem;
	font-size: 6vw;
	background-image: url('./images/fondo\ de\ pixar.png');
}

/* Home page styles */
.PixarTitle {
	color: whitesmoke;
}

.optionsContainer {
  display: flex; 
  justify-content: center;
}

.options {
	display: flex; 
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  background-color: gainsboro;
  border-radius: 10px;
  width: fit-content;
  box-sizing: border-box;
  margin: 20px;
}

.moviesUl {
	display: flex; 
	gap: 40px;
	flex-wrap: wrap;
	justify-content: center;
}

.tarjeta {
  list-style-type: none;
  background-color: whitesmoke;
  padding: 20px;
  margin: 15px;
  width: 230px;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
}

.movieName {
	font-size: 20px;
	margin-bottom: 7px;
}

.movieImg {
  width: 100%;
  height: 270px;
	margin-bottom: 5px;
}

.movieShortDes {
	margin-bottom: 7px;
}

.movieFacts {
	margin-bottom: 7px;
}

/* error 404 page */
.Error404Div {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.error404 {
	width: 600px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 15px;
	background-color: whitesmoke;
}

.errorTitle {
	color: #02274a;
	font-family:'Roboto Mono', monospace;
	font-weight: bold;
	font-size: 30px;
}

.errorMsg {
	color: #02274a;
	font-family:'Roboto Mono', monospace;
	font-weight: bold;
	font-size: 20px;
}

.errorImg {
	width: 350px;
	height: 250px;
}

.homeBtn {
	border-radius: 15px;
	background-color: #02274a;
	font-family: 'Roboto Mono', monospace;
	color: white;
	font-size: 20px;
	padding: 5px;
}

/*chat page */
.chat {
	color:azure
}

/* Api view styles */
.apiDiv {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.apiSection {
	background-color: whitesmoke;
	width: 600px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 15px;
}

.apiTitle {
	color: #02274a;
	font-family:'Roboto Mono', monospace;
	font-weight: bold;
	font-size: 30px;
}

.textApi {
	width: 200px;
	height: 100px;
	resize: none;
}

.guardar {
	border-radius: 15px;
	background-color: #02274a;
	font-family: 'Roboto Mono', monospace;
	color: white;
	font-size: 20px;
	padding: 5px;
}

.eliminar {
	border-radius: 15px;
	background-color: #02274a;
	font-family: 'Roboto Mono', monospace;
	color: white;
	font-size: 20px;
	padding: 5px;
}