* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: #02274a;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	font-family:'Roboto Mono', monospace;
	text-align: center;
	width: max-content;
	padding: 2rem;
	font-size: 7vw;
	background-image: url('./images/fondo\ de\ pixar.png');
}

.PixarTitle {
	color: whitesmoke;
}

.optionsContainer {
  display: flex; 
  justify-content: center;
}

.options {
	display: flex; 
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  background-color: gainsboro;
  border-radius: 10px;
  width: fit-content;
  box-sizing: border-box;
  margin: 20px;
}

.moviesUl {
	display: flex; 
	gap: 40px;
	flex-wrap: wrap;
	justify-content: center;
}

.tarjeta {
  list-style-type: none;
  background-color: whitesmoke;
  padding: 20px;
  margin: 15px;
  width: 230px;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
}

.movieName {
	font-size: 20px;
	margin-bottom: 7px;
}

.movieImg {
  width: 100%;
  height: 270px;
	margin-bottom: 5px;
}

.movieShortDes {
	margin-bottom: 7px;
}

.movieFacts {
	margin-bottom: 7px;
}

